

body, h2, p {
  font-family: 'Lato', sans-serif;

}

.ui-menu-item {
  font-family: 'Lato', sans-serif;
}

h1, h4{
  font-family: 'PT Mono', ;
  text-align: right;
}

html, body {
  height: 100%;
  margin: 0; 
  padding: 0;
}


.labels {
  color: #fff;
  background: #C31C33; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #BF1E2D 0%, #f2f2f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #BF1E2D 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #BF1E2D 0%,#ff1a1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 5px;
  padding: 3px 6px 3px 6px;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-align: center;
  white-space: wrap;
}



ul{
    list-style-type: none;
}

.navfont{
  font-family: 'PT Mono', ;
}

.navbar li a:hover, .navbar li a:focus, .navbar li a{
    color: black;
}

.navbar-default, .navbar-collapse{
    background: transparent;
    border: none;
    border-color: transparent;
    box-shadow: none;
    webkit-box-shadow: none;
}