/*entire document */
	
#whole-page, #page, body, html {
	height: 100%;
}
#whole-page {
/*	background: url(/static/img/fullbackground2.png);
	background-size: cover;
	padding-left: 0px !important;
*/	/*margin-left: -15px;*/
	/*padding-right: 0px;*/
	/*background-size: content: ntain;*/
	/*background-size: auto 100%;*/
	/*background-repeat: no-repeat;*/

}

#wrapper{
	background: url(/static/img/fullbackground3.png);
	background-size: cover;
}
#page-content-wrapper {	
	margin-left: -5px;
	padding-right: 0px;
}	
body {
	font-family: Arial !important;
}
.container, #whole-page, #header, body, #header-row {
	/*background-clip: content-box;*/
	margin-bottom: 0px;
}


#header-row {
	background: url(/static/img/fullbackground2.png);
	background-size: cover;
}
tbody, table {
	width: 100%;
}

a:hover{
    text-decoration: none;
}

/* buttons */
#form-submit, .btn-default, .btn-default:hover, .btn-default:focus, .btn-default.focus, 
	.btn-default:active, .btn-default.active, .btn-default.visited,
	.btn-default:active:hover, .btn-default.active:hover,  .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, 
	.btn-primary:active, .btn-primary.active, .btn-primary.visited,
	.btn-primary:active:hover, .btn-primary.active:hover{
		background-color: #414141 !important;
		background-image: linear-gradient(to bottom,#414141 0,#414141 100%) !important;
		text-shadow: none;
		color: #F2F2F2;
}

.btn.btn-default.close{
	background-color: #37465d;
	background-image: linear-gradient(to bottom,#37465d 0,#37465d 100%);
	text-shadow: none;
	color: #F2F2F2;
}

.btn {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	padding-left: 6px;
}
/*********************************************/
/* left side of page */

/* filter schools */
.checkbox-label, .list-group {
	display: inline;
	word-wrap: break-word;
}

#n-form{
	padding-top: 0px;
}

.checkbox-li {
	padding-left: 15px;
}

#flex-box-parent {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.badge {
	font-size: 10px;
}
ul {
	margin:0;
	padding:0;
}
li{
  margin-right: 0;
}

.flex-box-child {
	width: 100%;
	background: white;
	border: none;
	border-radius: 2px;
	padding: 10px;
	font-size: 0.8em;
	display: inline-block;
}
#form-submit{
	height: 30px;
	float: right;
	margin-right: 10px;
}


/* compare schools */
	
#show-favorites-btn {
	font-size: 12px;
}

#compare-schools {
	margin-top: 20px;
}

#star-img {
	zoom: 40%;
}

/*********************************************/
/* right side of webpage */

	
/* header */
.header-div {
	width: 100%;
	display: block;
}
#filter-schools-heading {
	display: inline-block;
}

#mobile-show-filters {
	visibility: hidden;
} 

#mobile-hide-filters {
	visibility: hidden;
}

#header-flex {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 20%;
	padding-top: 10px;
}

/* search bar to enter address */
#home-search-div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	padding-bottom: 0px;
	padding-top: 10px;
}

#enter-address-intro {
	color: #F54900;
	font-size: 18px;
}
.pac-card {
	display: inline-block;
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-size: 13px;
	font-weight: 300;
}

#pac-input {
	background-color: #fff;
	font-size: 15px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
	margin-top: -240px;
	border: #F54900 solid 4px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

/*********************************/
/* hierarchy tie breaker buttons */
#elem-tie-btn {
	background-color: #F54900;
	color: #fff;
}
#middle-tie-btn {
	background-color: #87CCE2;
	color: #fff;
}
#high-tie-btn {
	background-color: #414141;
	color: #fff;
}
.tie-breaker-btn, #tie-breaker-info{
	font-size: 10px;
}

.tie-breaker-info {
	font-size: 10px;
	display: inline-block;
}

#tie-breaker-info-div {
	padding-bottom: 10px;
}

#tie-breaker-title {
	padding-top: 10px;
}

.tie-breaker-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
}

.icon-legend {
	display: inline; 
	font-size: 12px; 
	padding-left: 3px;
}
.map-icon{
	z-index: 1;
}
/************************************/
/* map */
#map {
	height: 100%;
	width: 100%;
	border: solid  #fad355 15px;
}

#map-row{
	height: 100%;
	padding-right: 15px;
}


.map-icon-label-div {
	font-size: 10px;
	font-family: Arial;
	line-height: 1.4;
}


/*********************************************/
/* info window */
#info-window-content, #home-info-window-content, #instructions{
	font-family: Arial, 'Open Sans Condensed', sans-serif;
}

/* favorite star info window */
#favorite-star-div {
	position: relative;
	float: right;
}


/*********************************************/
/* directions */

#directions-to-here {
	background-color: #fad355;
}
#return-btn {
	background-color: #fad355;
	color: #414141;
}

.reverse-btn {
	position: relative;
	float: right;
}
.instructions-reverse {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#directions-panel {
	position: relative;
	float: left;
	visibility: hidden;
	background-color: white;
}



/*********************************************/
/* modal window */
@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    overflow-y: auto;
}

.comments {
	width: 100%;
	height: 100%;
}

.heading {
	background-color: #414141;
	color: #fff;
	float: left;
	tex-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	width: 100%;
}

#info-sign {
	padding-left: 15px;
}


#contact-epc {
	text-align: center;
}


tr td:nth-child(1), th:nth-child(1) {
	width: 5%;
}
tr td:nth-child(2), th:nth-child(2) {
	width: 5%;
}

tr td:nth-child(3), th:nth-child(3) {
	width: 40%;
}

tr td:nth-child(4), th:nth-child(4) {
	width: 10%;
}

tr td:nth-child(5), th:nth-child(5) {
	width: 10%;
}

tr td:nth-child(6), th:nth-child(6) {
	width: 20%;
}

tr td:nth-child(7), th:nth-child(7) {
	width: 10%;
}


/*********************************************/
/* mobile toggling */
.glyphicon-menu-hamburger {
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	font-weight: 200;
}
#menu-toggle {
	border-color: solid #fff000;
	border-width: 4px;
		display: inline-block;
			margin: 0;
			border-radius: 2px 0 0 2px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			outline: none;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
			background-color: #fff;
}
#toggle-search-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

/*********************************************/
/* on a mobile device */
@media(max-width:991px) {
	.pac-card {
		box-sizing: unset;
		-moz-box-sizing: unset;
	}
	#pac-input {
		margin-left: 0px;
		margin-right: 0px;
	}
	#header-flex {
		align-items: flex-end;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
	}
	#map {
		border: 5px solid #fad355;
	}
	#map-row {
		margin-right: -20px;
		padding-right: 0px;
		padding-left: 5px;
	}
	.mobile-filter-btn {
		background-color: #fad355;
		
		font-size: 8px;
		display: inline-block;
		color: #414141;
	}
	#mobile-show-filters {
		margin-left: 6px;
		margin-top: 5px;
		visibility: visible !important;
	}
	#home-search-div {
		align-items: center;
		padding-top: 0px;
	}
	#enter-address-intro, #pac-input {
		font-size: 12px;
	}
	#tie-breaker-title {
		padding-top: 3px;
		font-size: 10px;
	}
	.tie-breaker-btn {
		font-size: 8px;
	}
	.tie-breaker-flex, #tie-breaker-info-div {
		padding-bottom: 0px;
	}
	#mobile-hide-filters {
		position: relative;
		float: right;
		visibility: visible !important;
		margin-right: 6px;
	}
	#whole-page {
		background-size: cover;
		min-width: 100%;
	}
	#compare-schools-div {
		visibility: hidden;
	}
	#favorite-star-div {
		visibility: hidden;
	}
}