	#whole-page{
		height: 100%;
	}

	#search-bar-row {
	  height: 50px;
	}


	#form-submit, .btn-default, .btn-default:hover, .btn-default:focus, .btn-default.focus, 
		.btn-default:active, .btn-default.active, .btn-default.visited,
		.btn-default:active:hover, .btn-default.active:hover,  .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, 
		.btn-primary:active, .btn-primary.active, .btn-primary.visited,
		.btn-primary:active:hover, .btn-primary.active:hover{
			background-color: #BF1E2D;
			background-image: linear-gradient(to bottom,#BF1E2D 0,#BF1E2D 100%);
			text-shadow: none;
			font-family: 'PT Mono', ;
			color: #F2F2F2;
	}

	.btn.btn-default.close{
		background-color: #37465d;
		background-image: linear-gradient(to bottom,#37465d 0,#37465d 100%);
		text-shadow: none;
		font-family: 'PT Mono', ;
		color: #F2F2F2;
	}


	#map {
	  height: 100%;
	}

	#page{
  height: 100%;
}

	  line {
	  stroke: #999;
	  stroke-width: 1px;
	}

	circle {
	  fill: #ccc;
	  stroke: #fff;
	  stroke-width: 1.5px;
	}

	text {
	  fill: #000;
	  font: 10px sans-serif;
	  pointer-events: none;
	}

	#form-submit{
		height: 30px;
	}

	#search-bar-flex-box-parent {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.checkbox-label, .list-group {
		display: inline;
		word-wrap: break-word;
	}

	#flex-box-parent {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
	}

	.header-div {
		width: 80%;
		display: block;
	}

	.badge {
		font-size: 10px;
	}
	ul {
		margin:0;
		padding:0;
	}
	li{
	  margin-right: 0;
	}

	#loading-spin{
	  position: absolute;
	  left: 200px;
	  top: 540px;
	}

	#content h1{
	  font-size: 1.1em;
	  font-weight: normal;
	  margin-bottom: 0px;
	  margin-top: 10px;
	  margin-right: 0;
	  margin-left: 0,
	}

	#content-first{
		margin-bottom: 15px;
	}

	#content h2{
	  font-size: 1.1em;
	  font-weight: normal;
	  margin-top: 0px;
	  margin-bottom: 5px;
	  margin-right: 0;
	  margin-left: 0,
	}

	h2, p {
	  background: white;
	}

	h2 {
	  text-align: center;
	}
	 .flex-box-child {
		width: 100%;
		background: white;
		border: none;
		border-radius: 2px;
		padding: 10px;
		font-size: 0.8em;
		display: inline-block;
	}

	.pac-card, #toggle-button{
			display: inline-block;
			margin: 10px 10px 0 0;
			border-radius: 2px 0 0 2px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			outline: none;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
			background-color: #fff;
			font-family: Roboto;
		  }

		  #pac-container {
			padding-bottom: 12px;
			margin-right: 12px;
		  }

		  .pac-controls {
			display: inline-block;
			padding: 5px 11px;
		  }

		  .pac-controls label {
			font-family: Roboto;
			font-size: 13px;
			font-weight: 300;
		  }

		  #pac-input {
			background-color: #fff;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 300;
			margin-left: 12px;
			padding: 0 11px 0 13px;
			text-overflow: ellipsis;
			width: 400px;
		  }

		  #pac-input:focus {
			border-color: #4d90fe;
		  }

	#hide-side-nav {
		float: right;
		padding-right: 20px;
		padding-bottom: 10px;
		text-align: right;
	}

	#show-side-nav {
		padding-bottom: 0px;
		padding-top: -5px;
	}
