/*entire document */
	
#whole-page, #page, body, html {
	height: 100%;
}

#wrapper{
	background: url(/static/img/fullbackground3.png);
	background-size: contain;
}
#page-content-wrapper {	
	margin-left: -5px;
	padding-right: 0px;
}	
body {
	font-family: Arial !important;
	background-color: #EDEDED;
}
.container, #whole-page, #header, body, #header-row {
	/*background-clip: content-box;*/
	margin-bottom: 0px;
}


#header-row {
	background: url(/static/img/fullbackground2.png);
	background-size: cover;
	background-position: center-top;
}


a:hover{
    text-decoration: none;
}

/* buttons */
#form-submit, .btn-default, .btn-default:hover, .btn-default:focus, .btn-default.focus, 
	.btn-default:active, .btn-default.active, .btn-default.visited,
	.btn-default:active:hover, .btn-default.active:hover,  .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, 
	.btn-primary:active, .btn-primary.active, .btn-primary.visited,
	.btn-primary:active:hover, .btn-primary.active:hover{
		background-color: #414141 !important;
		background-image: linear-gradient(to bottom,#414141 0,#414141 100%) !important;
		text-shadow: none;
		color: #F2F2F2;
}

.btn.btn-default.close{
	background-color: #37465d;
	background-image: linear-gradient(to bottom,#37465d 0,#37465d 100%);
	text-shadow: none;
	color: #F2F2F2;
}

.btn {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	padding-left: 6px;
}

.gradeK-5, .gradeK-8, .gradePreK-5, .gradePreK-8 {
	color: #F54900;
}

.grade6-8 {
	color: #87CCE2;
}

.grade9-12 {
	color: #414141;
}

/*********************************************/
/* left side of page */

/* filter schools */
.checkbox-label, .list-group {
	display: inline;
	word-wrap: break-word;
}

#n-form{
	padding-top: 0px;
}

.checkbox-li {
	padding-left: 15px;
}


.badge {
	font-size: 10px;
}
ul {
	margin:0;
	padding:0;
}
li{
  margin-right: 0;
}

.flex-box-child {
	width: 100%;
	background: white;
	border: none;
	border-radius: 2px;
	padding: 10px;
	font-size: 0.8em;
	display: inline-block;
}
#form-submit{
	height: 30px;
	float: right;
	margin-right: 10px;
}


/* compare schools */
	
#show-favorites-btn {
	font-size: 12px;
}

#compare-schools {
	margin-top: 10px;
}

#star-img {
	zoom: 40%;
}

/*tie breaker hierarchies*/
/*.mobile-tie-breaker {
	visibility: hidden;
}
*/
#mobile-tie-breaker-heading{
	display: inline-block;
}
#tie-breaker-info-mobile-div {
	float: right;
	position: relative;
}
#tie-breaker-mobile-row-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
}
#elem-tie-btn {
	background-color: #F54900;
	color: #fff;
}
#middle-tie-btn {
	background-color: #87CCE2;
	color: #fff;
}
#high-tie-btn {
	background-color: #414141;
	color: #fff;
}

#tie-breaker-title {
		padding-top: 3px;
		font-size: 10px;
	}
	.mobile-tie-breaker-btn {
		font-size: 10px;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 10px;
	}
	#tie-breaker-info-div {
		padding-bottom: 0px;
	}

	.mobile-tie-breaker-info {
		font-size: 10px;
		margin-top: -10px;
		padding-left: 10px;
		padding-right: 5px;
	}
/*********************************************/
/* right side of webpage */

	
/* header */
.header-div {
	width: 100%;
	display: block;
}

#filter-schools-heading-div {
	margin-top: 15px;
}

#filter-schools-heading {
	display: inline-block;
}

#header-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/*padding-right: 20%;*/
	padding-top: 70px;
}

/* search bar to enter address */
#home-search-div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

#enter-address-intro {
	font-size: 18px;
}
.pac-card {
	display: inline-block;
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-size: 13px;
	font-weight: 300;
}

#pac-input {
	background-color: #fff;
	font-size: 15px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
	margin-top: -240px;
	border: #F54900 solid 4px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

/*********************************/
/* hierarchy tie breaker buttons */
/*.desktop-tie-breaker {*/
	/*visibility: visible;*/
/*}*/
/*
.tie-breaker-btn, #tie-breaker-info{
	font-size: 10px;
}

.tie-breaker-info {
	font-size: 10px;
	display: inline-block;
}

#tie-breaker-info-div {
	padding-bottom: 10px;
}

#tie-breaker-title {
	padding-top: 10px;
}

.tie-breaker-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
}
*/
.icon-legend {
	display: inline; 
	font-size: 12px; 
	padding-left: 3px;
}
.map-icon{
	z-index: 1;
}

/************************************/
/* tab */
.tab-btn {
	background-color: #fad355;
	margin: 5px;
	z-index: 1000;
	position: absolute;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
}
/************************************/
/* map */
#map {
	height: 100%;
	width: 100%;
	border: solid  #fad355 15px;
}

#map-row{
	height: 100%;
	padding-right: 15px;
}


.map-icon-label-div {
	font-size: 10px;
	font-family: Arial;
	line-height: 1.4;
}


/*********************************************/
/* info window */
#info-window-content, #home-info-window-content, #instructions{
	font-family: Arial, 'Open Sans Condensed', sans-serif;
}

/* favorite star info window */
#favorite-star-div {
	position: relative;
	float: right;
}

/*********************************************/
/* get current location button */
#curr-loc-btn {
	border-radius: 20px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	z-index: 1000;
	position: absolute;
	color: #fff;
	background-color: #3367d6;
}

/*********************************************/
/* directions */

#directions-to-here {
	background-color: #fad355;
}
#return-btn {
	background-color: #fad355;
	color: #414141;
}

.reverse-btn {
	position: relative;
	float: right;
}
.instructions-reverse {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#directions-panel {
	position: relative;
	float: left;
	visibility: hidden;
	background-color: white;
}



/*********************************************/
/* modal window */
@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
    	max-width: 100%;
        position:absolute;
        left:0;
        top:0;
    }
}

.modal-content {
	border: 0px solid #414141;
	background-color: #fff;
}
.modal-dialog{
    overflow-y: initial !important;
}
.modal-body{
    overflow-y: auto;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    /*border-right: .5px #414141 solid;*/
    background-color: #fff;
    padding-bottom: 0px;
}

.modal-header {
	background-color: #414141;
	color: #fff;
	height: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	padding-left: 0px;
	border-top: none;
	border-bottom: none;
	/*border-right: .5px #fff solid;*/
}
.comments {
	width: 100%;
	height: 100%;
}

.heading {
	background-color: #414141;
	color: #fff;
	float: left;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	width: 100%;
}

#info-sign {
	padding-left: 15px;
}


#contact-epc {
	text-align: center;
}

#close-btn {
	margin-right: -15px;
	color: #fff;
}

input {
	align: top;
	max-width: 100%;
}

/*rank*/
th:nth-child(1) {
	width: 5%;
	text-align: left;
}
tr td:nth-child(1) {
	width: 5%;
	text-align: center;
	font-weight: bold;
}

/*arrows*/
tr td:nth-child(2), th:nth-child(2) {
	width: 5%;
	
}

/*school*/
tr td:nth-child(3), th:nth-child(3) {
	width: 30%;
	text-align: left;
}

/*tour*/
tr td:nth-child(4), th:nth-child(4) {
	width: 20%;
	text-align: center;
}

/*notes*/
tr td:nth-child(5), th:nth-child(5) {
	width: 30%;
	text-align: left top;
}

/*remove*/
tr td:nth-child(6), th:nth-child(6) {
	width: 10%;
	text-align: center;
}

table, tbody {
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #000;
}

tbody {
	padding-left: 15px;
	padding-right: 15px;
}

thead {
	vertical-align: bottom;
	background-color: #414141;
	color: #fff;
	border-radius: 4px;
	border-left: solid #414141 15px;
	border-right: solid #414141 15px;
}

tfoot tr:nth-child(1){
	padding-top: 40px;
}

tr td, tr th {
	padding-right: 15px;
}

tbody tr:nth-child(n+2) {
	border-top: solid #414141 1px;
}

tr td {
	padding-top: 15px;
	padding-bottom: 15px;
	height: 100%;
}

tr th {
	margin-left: -15px;
	/*margin-right: -15px;*/
	padding-bottom: 15px;
}
/*********************************************/
/* mobile toggling */
.glyphicon-menu-hamburger {
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	font-weight: 200;
}
#menu-toggle {
	border-color: solid #fff000;
	border-width: 4px;
		display: inline-block;
			margin: 0;
			border-radius: 2px 0 0 2px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			outline: none;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
			background-color: #fff;
}
#toggle-search-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

/*********************************************/
/* on a mobile device */
@media(max-width:991px) {
	/*.desktop-tie-breaker {*/
		/*visibility: hidden;*/
	/*}*/
	/*.mobile-tie-breaker {*/
		/*visibility: visible;*/
	/*}*/


/*.tie-breaker-mobile-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding-bottom: 5px;
}*/
	.pac-card {
		/*box-sizing: unset;*/
		/*-moz-box-sizing: unset;*/
	}
	#pac-input {
		margin-left: 0px;
		margin-right: 0px;
	}
	#header-flex {
		justify-content: center;
		align-items: center;
		padding-bottom: 2px;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
	}
	#map {
		border: 5px solid #fad355;
		height: 100%;
		/*padding-bottom: 5px !important;*/
	}
	#map-row {
		margin-right: -20px;
		padding-right: 0px;
		padding-left: 5px;
		height: 100% !important;
		padding-bottom: 15px !important;
	}

	.mobile-filter-btn {
		background-color: #fad355;
		font-size: 8px;
		color: #414141;
	}
	#home-search-div {
		padding-top: 20px;
		align-items: center;
	}
	#enter-address-intro, #pac-input {
		font-size: 12px;
	}
	
	#whole-page {
		background-size: cover;
		min-width: 100%;

	}
	#compare-schools-div {
		visibility: hidden;
	}
	#favorite-star-div {
		visibility: hidden;
	}
	#directions-div {
		height: 0px;
		visibility: hidden;
	}
	#info-sign-span {
		visibility: hidden;
	}
	
}