<!doctype html>
<html>
<head>
<title>{% block title %}INSERT TITLE{% endblock %}</title>

<!-- add in jQuery  -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!-- google fonts -->
<link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'> <!-- for navbar and headers -->
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> <!-- for majority of content -->

<!-- favicon -->
<!-- <link rel="icon" type="image/png"  href="/static/img/favicon.ico">
 -->
<!-- animated CSS -->
<link rel="stylesheet" href="/static/css/animate.css">
<link rel="stylesheet" href="/static/css/base.css">

{% block head %}{% endblock %}

  </head>
<body>
   <!-- navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
        {% if session.get("screenname") %}
        <li class="dropdown navfont">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OKCBot <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/okcbot">Messaging Bot</a></li>
            <li><a href="/markov">Profile Generator</a></li>
          </ul>
        </li>
        {% endif %}
        <li class="dropdown navfont">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analytics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/map">Adjective Map</a></li>
            <li><a href="/sankey">Sankey Profile</a></li>
          </ul>
        </li>
        {% if session.get("screenname") %}        
        <li class="navfont"><a href="/logout">Logout</a></li>
        {% else %}
        <li class="navfont"><a href="/new-user-form">Create New User</a></li>
        <li class="navfont"><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

 <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div id='flash-div'>
            <div class="alert alert-warning animated bounce">{{ message }}</div>
          </div> <!-- close flash -->
      {% endfor %}
  {% endwith %}
{% block content %}
{% endblock %}
<script src='/static/js/base.js'></script>


</body>
</html>