{% extends "base.html" %}

{% block title %}SFUSD{% endblock %}

{% block head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
 
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Q8s8XrW3FwGSp_D8vQUtZxBDjc3RnDs&libraries=places"></script>  

    <!-- left side nav CSS -->
    <link rel="stylesheet" href="/static/css/simple-sidebar.css"> 
    
    <!-- custom CSS -->
    <link rel="stylesheet" href="/static/css/map3.css">

{% endblock %}

{% block content %}
<div id="wrapper" class="toggled">

<!-- Sidebar -->
  <div id="sidebar-wrapper">
    <form id='map-choices-form'>
      <div class='form-group' id="flex-box-parent">
        <div id="flex-box-contents">
        <div class="flex-box-child">
   
    <!-- <ul class="sidebar-nav"> -->
      <!-- <li> -->
         <a id="hide-side-nav" class="menu-toggle"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Hide</span></a>
      <!-- </li> -->
    <!-- </ul> -->

    </div>

        <!-- Neighborhood Section = n --> 
        <div id="n-form" class="flex-box-child">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="arrow-collapse-link glyphicon glyphicon-chevron-right" data-toggle="collapse" href="#n-collapse" aria-expanded="false" aria-controls="n-collapse"></a>
      
              <label for="n" class="checkbox-label">&nbsp; Neighborhood</label>
              <span class="count badge" id="n-count"></span>
            </li>
          </ul>
        {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "neighborhood" %}
          <div class="collapse" id="n-collapse">
            <div class="card card-block">
            <ul>
              <li>
                <input type="checkbox" id="check-all-n" class="check-all" name="check-all-n" value="select-all" checked>
                <label for="check-all-n"> &nbsp; Deselect All</label>
              </li>
              {% for neighborhood in value %}
              <li>
                <input type="checkbox" name="n" class="check" value="{{ neighborhood }}" checked> &nbsp; {{ neighborhood }}
              </li>
              {% endfor %}
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}
        {% endfor %}
        </div> <!-- close div form -->
        <!-- End of Neighborhood Section -->

        <!-- Grades Served Section = g-s --> 
        <div id="g-s-form" class="flex-box-child">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="arrow-collapse-link glyphicon glyphicon-chevron-right" data-toggle="collapse" href="#g-s-collapse" aria-expanded="false" aria-controls="g-s-collapse"> 
              </a>
              <label for="g-s" class="checkbox-label">&nbsp; Grades Served</label>
              <span class="count badge" id="g-s-count"></span>
            </li>
          </ul>
         {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "grades_served" %}
          <div class="collapse" id="g-s-collapse">
            <div class="card card-block">
            <ul>
              <li>
                <input type="checkbox" id="check-all-g-s" class="check-all" name="check-all-g-s" value="select-all" checked>
                <label for="check-all-g-s"> &nbsp; Deselect All</label>
              </li>
              {% for gradesserved in value %}
              <li>
                <input type="checkbox" name="g-s" class="check" value="{{ gradesserved }}" checked> &nbsp; {{ gradesserved }}
              </li>
              {% endfor %}
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}
        {% endfor %}
        </div> <!-- close div form -->
        <!-- End of Grades Served Section -->

         <!-- Multilingual Pathways Section = m-p --> 
        <div id="m-p-form" class="flex-box-child">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="arrow-collapse-link glyphicon glyphicon-chevron-right" data-toggle="collapse" href="#m-p-collapse" aria-expanded="false" aria-controls="m-p-collapse">
            </a>
            <label for="m-p" class="checkbox-label">&nbsp; Multilingual Pathways</label>
            <span class="count badge" id="m-p-count"></span>
          </li>
        </ul>
        {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "multilingual_pathways" %}
          <div class="collapse" id="m-p-collapse">
            <div class="card card-block">
            <ul>
              <li>
                <input type="checkbox" id="check-all-m-p" class="check-all" name="check-all-m-p" value="select-all" checked>
                <label for="check-all-m-p"> &nbsp; Deselect All </label>
              </li>
              {% for multilingualPathways in value %}
              <li>
                <input type="checkbox" name="m-p" class="check" value="{{ multilingualPathways }}" checked> &nbsp; {{ multilingualPathways }}
              </li>
              {% endfor %}
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}   
        {% endfor %}     
        </div>
        <!-- End Multilingual Pathways Section -->

        <!-- Before School Program Section = b-s-p --> 
        <div id="b-s-p-form" class="flex-box-child">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="arrow-collapse-link glyphicon glyphicon-chevron-right" data-toggle="collapse" href="#b-s-p-collapse" aria-expanded="false" aria-controls="b-s-p-collapse">
            </a>
            <label for="b-s-p" class="checkbox-label">&nbsp; Before School Program</label>
            <span class="count badge" id="b-s-p-count"></span>
          </li>
        </ul>
        {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "before_school_program" %}
          <div class="collapse" id="b-s-p-collapse">
            <div class="card card-block">
            <ul>
              <li>
                <input type="checkbox" id="check-all-b-s-p" class="check-all" name="check-all-b-s-p" value="select-all" checked>
                <label for="check-all-b-s-p"> &nbsp; Deselect All </label>
              </li>
              <li>
                <input type="checkbox" name="b-s-p" class="check" value="Yes" checked> &nbsp; Yes
              </li>
            
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}   
        {% endfor %}     
        </div>
        <!-- End of Before School Program Section -->

       
        <!-- After School Program Section = a-s-p --> 
        <div id="a-s-p-form" class="flex-box-child">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="arrow-collapse-link glyphicon glyphicon-chevron-right" data-toggle="collapse" href="#a-s-p-collapse" aria-expanded="false" aria-controls="a-s-p-collapse">
            </a>
            <label for="a-s-p" class="checkbox-label">&nbsp; Afterschool Programs</label>
            <span class="count badge" id="a-s-p-count"></span>
          </li>
        </ul>
        {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "after_school_program" %}
          <div class="collapse" id="a-s-p-collapse">
            <div class="card card-block">
            <ul>
              <li>
                <input type="checkbox" id="check-all-a-s-p" class="check-all" name="check-all-a-s-p" value="select-all" checked>
                <label for="check-all-a-s-p"> &nbsp; Deselect All </label>
              </li>
              <li>
                <input type="checkbox" name="a-s-p" class="check" value="Yes" checked> &nbsp; Yes
              </li>
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}   
        {% endfor %}     
        </div>
        <!-- End After School Program Section -->

      <input id="form-submit" type="submit" value="Submit"> 
      </div> <!-- close flexbox contents -->
      </div> <!-- close div class -->
      
    </form>
  </div><!-- /#sidebar-wrapper -->
<!-- End of SideBar -->

<div id="page-content-wrapper">
<div class="container-fluid" id="whole-page">
  <div class="row flex-box-child">
       <a id="show-side-nav" class="menu-toggle"><span class="glyphicon glyphicon-forward" aria-hidden="true">&nbsp;Show</span></a>
  </div> <!-- close row -->
  <div class="row" id="page-content-wrapper">
   <div id="toggle-button">
     <a href="#menu-toggle" class="btn btn-default controls menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
   </div>
    <input id="pac-input" class="controls" type="text" placeholder="Enter home address">
    <div class="col-xs-12" id="map">
    </div> <!-- close column -->
  </div> <!-- close row -->
</div> <!-- close container -->
</div> <!-- close page-content-wrapper -->
</div> <!-- close wrapper -->


<script src="/static/js/map.js"></script>
{% endblock %}