{% extends "base.html" %}

{% block title %}SFUSD:Comparison Tool{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://js.arcgis.com/3.19/esri/css/esri.css">
<script src="https://js.arcgis.com/3.19/"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
 
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Q8s8XrW3FwGSp_D8vQUtZxBDjc3RnDs&libraries=places,directions"></script> 

    <!-- Custom Markers  -->
    <script src="/static/js/map-icons.min.js"></script>

    <!-- header CSS -->
   <link rel="stylesheet" href="/static/css/header.css">

    <!-- left side nav CSS -->
    <link rel="stylesheet" href="/static/css/simple-sidebar.css"> 
    
    <!-- custom google maps marker CSS -->
    <link rel="stylesheet" href="/static/fonts/map-icons.eot">
    <link rel="stylesheet" href="/static/fonts/map-icons.svg">
    <link rel="stylesheet" href="/static/fonts/map-icons.ttf">
    <link rel="stylesheet" href="/static/fonts/map-icons.woff">
    <link rel="stylesheet" href="/static/css/map-icons.min.css">
    
    <!-- custom CSS -->
    <link rel="stylesheet" href="/static/css/map3.css">

    <!-- favicon -->
    <link rel="icon" type="image/png"  href="/static/img/favicon.ico">
    
{% endblock %}

{% block content %}
<div id="wrapper" class="toggled">

<!-- Sidebar -->
  <div id="sidebar-wrapper">
    <form id='map-choices-form'>
      <div class='form-group' id="flex-box-parent">
        <div id="flex-box-contents">
          <div class="flex-box-child" id="hide-sive-nav-div" style="padding:0px">
            <a id="hide-side-nav" class="menu-toggle"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Hide</span></a>
          </div>

        <div id="show-results-for">
          <h4>Show results for &gt;</h4>
        </div>

        <!-- Grades Served Section = g-s --> 
        <div id="g-s-form" class="flex-box-child">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="arrow-collapse-link glyphicon glyphicon-chevron-right" data-toggle="collapse" href="#g-s-collapse" aria-expanded="false" aria-controls="g-s-collapse"> 
                <label for="g-s" class="checkbox-label">Grades Served</label>
              </a>
              <span class="count badge" id="g-s-count"></span>
            </li>
          </ul>
         {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "grades_served" %}
          <div class="collapse" id="g-s-collapse">
            <div class="card card-block">
            <ul>
              <li class="checkbox-li">
                <input type="checkbox" id="check-all-g-s" class="check-all" name="check-all-g-s" value="select-all" checked>
                <label for="check-all-g-s"> &nbsp; Deselect All</label>
              </li>
              {% for gradesserved in value %}
              <li class="checkbox-li">
                <input type="checkbox" name="g-s" class="check" value="{{ gradesserved }}" checked><span class="map-icon map-icon-school {{ gradesserved }} icon-legend"></span>
                &nbsp; {{ gradesserved }}
              </li>
              {% endfor %}
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}
        {% endfor %}
        </div> <!-- close div form -->
        <!-- End of Grades Served Section -->

        <!-- Neighborhood Section = n --> 
        <div id="n-form" class="flex-box-child">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="arrow-collapse-link glyphicon glyphicon-chevron-right" data-toggle="collapse" href="#n-collapse" aria-expanded="false" aria-controls="n-collapse">
                <label for="n" class="checkbox-label">Neighborhood</label>
              </a>
              <span class="count badge" id="n-count"></span>
            </li>
          </ul>
        {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "neighborhood" %}
          <div class="collapse" id="n-collapse">
            <div class="card card-block">
            <ul>
              <li class="checkbox-li">
                <input type="checkbox" id="check-all-n" class="check-all" name="check-all-n" value="select-all" checked>
                <label for="check-all-n"> &nbsp; Deselect All</label>
              </li>
              {% for neighborhood in value %}
              <li class="checkbox-li">
                <input type="checkbox" name="n" class="check" value="{{ neighborhood }}" checked> &nbsp; {{ neighborhood }}
              </li>
              {% endfor %}
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}
        {% endfor %}
        </div> <!-- close div form -->
        <!-- End of Neighborhood Section -->

         <!-- Multilingual Pathways Section = m-p --> 
        <div id="m-p-form" class="flex-box-child">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="arrow-collapse-link glyphicon glyphicon-chevron-right" data-toggle="collapse" href="#m-p-collapse" aria-expanded="false" aria-controls="m-p-collapse">
              <label for="m-p" class="checkbox-label">Multilingual Pathways</label>
            </a>
            <span class="count badge" id="m-p-count"></span>
          </li>
        </ul>
        {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "multilingual_pathways" %}
          <div class="collapse" id="m-p-collapse">
            <div class="card card-block">
            <ul>
              <li class="checkbox-li">
                <input type="checkbox" id="check-all-m-p" class="check-all" name="check-all-m-p" value="select-all" checked>
                <label for="check-all-m-p"> &nbsp; Deselect All </label>
              </li>
              {% for multilingualPathways in value %}
              <li class="checkbox-li">
                <input type="checkbox" name="m-p" class="check" value="{{ multilingualPathways }}" checked> &nbsp; {{ multilingualPathways }}
              </li>
              {% endfor %}
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}   
        {% endfor %}     
        </div>
        <!-- End Multilingual Pathways Section -->

        <!-- Before School Program Section = b-s-p --> 
        <div id="b-s-p-form" class="flex-box-child">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="arrow-collapse-link glyphicon glyphicon-chevron-right" data-toggle="collapse" href="#b-s-p-collapse" aria-expanded="false" aria-controls="b-s-p-collapse">
              <label for="b-s-p" class="checkbox-label">Before School Program</label>
            </a>
            <span class="count badge" id="b-s-p-count"></span>
          </li>
        </ul>
        {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "before_school_program" %}
          <div class="collapse" id="b-s-p-collapse">
            <div class="card card-block">
            <ul>
              <li class="checkbox-li">
                <input type="checkbox" id="check-all-b-s-p" class="check-all" name="check-all-b-s-p" value="select-all" checked>
                <label for="check-all-b-s-p"> &nbsp; Deselect All </label>
              </li>
              <li class="checkbox-li">
                <input type="checkbox" name="b-s-p" class="check" value="Yes" checked> &nbsp; Yes
              </li>
            
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}   
        {% endfor %}     
        </div>
        <!-- End of Before School Program Section -->

       
        <!-- After School Program Section = a-s-p --> 
        <div id="a-s-p-form" class="flex-box-child">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="arrow-collapse-link glyphicon glyphicon-chevron-right" data-toggle="collapse" href="#a-s-p-collapse" aria-expanded="false" aria-controls="a-s-p-collapse">
              <label for="a-s-p" class="checkbox-label">Afterschool Programs</label>
            </a>  
            <span class="count badge" id="a-s-p-count"></span>
          </li>
        </ul>
        {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "after_school_program" %}
          <div class="collapse" id="a-s-p-collapse">
            <div class="card card-block">
            <ul>
              <li class="checkbox-li">
                <input type="checkbox" id="check-all-a-s-p" class="check-all" name="check-all-a-s-p" value="select-all" checked>
                <label for="check-all-a-s-p"> &nbsp; Deselect All </label>
              </li>
              <li class="checkbox-li">
                <input type="checkbox" name="a-s-p" class="check" value="Yes" checked> &nbsp; Yes
              </li>
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}   
        {% endfor %}     
        </div>
        <!-- End After School Program Section -->

        <div class="flex-box-child">
          <button id="show-favorites-btn">Compare My Favorite Schools <img id="star-img" src="/static/img/star.png"></button>
        </div>
        
        <input id="form-submit" type="submit" value="Submit"> 
      </div> <!-- close flexbox contents -->
      </div> <!-- close div class -->
      
    </form>
  </div><!-- /#sidebar-wrapper -->
<!-- End of SideBar -->

  <div id="page-content-wrapper">
    <div class="container-fluid" id="whole-page">
      <div class="row flex-box-child" id="show-side-nav-div" style="padding:0px">
           <a id="show-side-nav" class="menu-toggle"><span class="glyphicon glyphicon-forward" aria-hidden="true">&nbsp;Show</span></a>
      </div> <!-- close row -->
      <div class="row" id="header-row">
        <div id="header">
          <a href="#" onclick="window.open('http://www.sfusd.edu/')">
            <img class="push1col" id="header-img" title="San Francisco Unified School District" src="/static/img/san-francisco-unified-school-district.png" alt="San Francisco Unified School District logo" width="262" height="55">
          </a>
        </div> <!-- close header -->
      </div>
      <div class="row" id="page-content-wrapper">
      <div id="home-search"> 
      </div>
        <div id="toggle-search-div">
          <div id="toggle-button">
            <a href="#menu-toggle" type="button" class="controls menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
          </div>
          <input id="pac-input" class="controls" type="text" placeholder="Enter home address">
        </div>
        <div class="col-xs-12" id="map"> 
        </div> <!-- close map -->
        <div class="col-xs-0" id="directions-panel">
        </div> <!-- close directions panel -->
      </div> <!-- close row -->
    </div> <!-- close container -->
  </div> <!-- close page-content-wrapper -->

  <!-- School Comparison Modal -->
  <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">My Favorite Schools</h4><br>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Rank</th>
                <th>School</th>
                <th>Have I booked a school tour?</th>
                <th>Have I applied?</th>
                <th>Comments</th>
                <th></th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="modal-body" id="printThis">
          <table id="favorites-table">
            <tbody id="favorites-table-body">
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <input type="textarea" class="comments" placeholder="Notes">
                </td> 
              <tr>
            </tfoot>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="print-btn" class="btn btn-default">Print</button>
        </div>
      </div>
    </div>
  </div>


</div> <!-- close wrapper -->


<script src="/static/js/map.js"></script>
{% endblock %}