{% extends "base.html" %}

{% block title %}SFUSD:Comparison Tool{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://js.arcgis.com/3.19/esri/css/esri.css">
<script src="https://js.arcgis.com/3.19/"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
 
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Q8s8XrW3FwGSp_D8vQUtZxBDjc3RnDs&libraries=places,directions"></script> 

    <!-- Custom Markers  -->
    <script src="/static/js/map-icons.min.js"></script>

    <!-- header CSS -->
   <link rel="stylesheet" href="/static/css/header.css">

    <!-- left side nav CSS -->
    <link rel="stylesheet" href="/static/css/simple-sidebar.css"> 
    
    <!-- custom google maps marker CSS -->
    <link rel="stylesheet" href="/static/fonts/map-icons.eot">
    <link rel="stylesheet" href="/static/fonts/map-icons.svg">
    <link rel="stylesheet" href="/static/fonts/map-icons.ttf">
    <link rel="stylesheet" href="/static/fonts/map-icons.woff">
    <link rel="stylesheet" href="/static/css/map-icons.min.css">
    
    <!-- custom CSS -->
    <link rel="stylesheet" href="/static/css/map3.css">

    <!-- favicon -->
    <link rel="icon" type="image/png"  href="/static/img/favicon.ico">
    
{% endblock %}

{% block content %}
<div id="wrapper">

<!-- Sidebar -->
  <div id="sidebar-wrapper">
    <form id='map-choices-form'>
      <div class='form-group' id="flex-box-parent">
        <div id="flex-box-contents">

        <div class="heading">
          <h4 id="filter-schools-heading">Filter Schools</h4>
          <button id="mobile-hide-filters" onclick="onHideFilters()" class="btn mobile-filter-btn" aria-hidden="true"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;Hide Filters</button> 

        </div>

        <!-- Grades Served Section = g-s --> 
        <div id="g-s-form" class="flex-box-child">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="arrow-collapse-link" data-toggle="collapse" href="#g-s-collapse" aria-expanded="false" aria-controls="g-s-collapse">  
                <span id="g-s-chevron" class="glyphicon glyphicon-chevron-right"></span>    
                <label for="g-s" class="checkbox-label">Grades Served</label>
              </a>
              <span class="count badge" id="g-s-count"></span>
            </li>
          </ul>
         {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "grades_served" %}
          <div class="collapse" id="g-s-collapse">
            <div class="card card-block">
            <ul>
              <li class="checkbox-li">
                <input type="checkbox" id="check-all-g-s" class="check-all" name="check-all-g-s" value="select-all" checked>
                <label for="check-all-g-s"> &nbsp; Deselect All</label>
              </li>
              {% for gradesserved in value %}
              <li class="checkbox-li">
                <input type="checkbox" name="g-s" class="check" value="{{ gradesserved }}" checked><span class="map-icon map-icon-school {{ gradesserved }} icon-legend"></span>
                &nbsp; {{ gradesserved }}
              </li>
              {% endfor %}
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}
        {% endfor %}
        </div> <!-- close div form -->
        <!-- End of Grades Served Section -->

          <!-- City School Section = c-s --> 
        <div id="c-s-form" class="flex-box-child">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="arrow-collapse-link" data-toggle="collapse" href="#c-s-collapse" aria-expanded="false" aria-controls="c-s-collapse"> 
                <span id="g-s-chevron" class="glyphicon glyphicon-chevron-right"></span>    
                <label for="c-s" class="checkbox-label">City-Wide School <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Attendance area does not apply for city-wide schools"></span></label>
              </a>
              <span class="count badge" id="c-s-count"></span>
            </li>
          </ul>
         {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "city_school" %}
          <div class="collapse" id="c-s-collapse">
            <div class="card card-block">
            <ul>
              <li class="checkbox-li">
                <input type="checkbox" id="check-all-c-s" class="check-all" name="check-all-c-s" value="select-all" checked>
                <label for="check-all-c-s"> &nbsp; Deselect All</label>
              </li>
              {% for cityschool in value %}
              <li class="checkbox-li">
                <input type="checkbox" name="c-s" class="check" value="{{ cityschool }}" checked>&nbsp; {{ cityschool }}
              </li>
              {% endfor %}
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}
        {% endfor %}
        </div> <!-- close div form -->
        <!-- End of City School Section -->

         <!-- Multilingual Pathways Section = m-p --> 
        <div id="m-p-form" class="flex-box-child">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="arrow-collapse-link" data-toggle="collapse" href="#m-p-collapse" aria-expanded="false" aria-controls="m-p-collapse">
              <span id="g-s-chevron" class="glyphicon glyphicon-chevron-right"></span>    
              <label for="m-p" class="checkbox-label">Multilingual Pathways</label>
            </a>
            <span class="count badge" id="m-p-count"></span>
          </li>
        </ul>
        {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "multilingual_pathways" %}
          <div class="collapse" id="m-p-collapse">
            <div class="card card-block">
            <ul>
              <li class="checkbox-li">
                <input type="checkbox" id="check-all-m-p" class="check-all" name="check-all-m-p" value="select-all" checked>
                <label for="check-all-m-p"> &nbsp; Deselect All </label>
              </li>
              {% for multilingualPathways in value %}
              <li class="checkbox-li">
                <input type="checkbox" name="m-p" class="check" value="{{ multilingualPathways }}" checked> &nbsp; {{ multilingualPathways }}
              </li>
              {% endfor %}
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}   
        {% endfor %}     
        </div>
        <!-- End Multilingual Pathways Section -->

        <!-- Before School Program Section = b-s-p --> 
        <div id="b-s-p-form" class="flex-box-child">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="arrow-collapse-link" data-toggle="collapse" href="#b-s-p-collapse" aria-expanded="false" aria-controls="b-s-p-collapse">
              <span id="g-s-chevron" class="glyphicon glyphicon-chevron-right"></span>    
              <label for="b-s-p" class="checkbox-label">Before School Programs</label>
            </a>
            <span class="count badge" id="b-s-p-count"></span>
          </li>
        </ul>
        {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "before_school_program" %}
          <div class="collapse" id="b-s-p-collapse">
            <div class="card card-block">
            <ul>
              <li class="checkbox-li">
                <input type="checkbox" id="check-all-b-s-p" class="check-all" name="check-all-b-s-p" value="select-all" checked>
                <label for="check-all-b-s-p"> &nbsp; Deselect All </label>
              </li>
              <li class="checkbox-li">
                <input type="checkbox" name="b-s-p" class="check" value="Yes" checked> &nbsp; Yes
              </li>
            
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}   
        {% endfor %}     
        </div>
        <!-- End of Before School Program Section -->

       
        <!-- After School Program Section = a-s-p --> 
        <div id="a-s-p-form" class="flex-box-child">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="arrow-collapse-link" data-toggle="collapse" href="#a-s-p-collapse" aria-expanded="false" aria-controls="a-s-p-collapse">
              <span id="g-s-chevron" class="glyphicon glyphicon-chevron-right"></span>    
              <label for="a-s-p" class="checkbox-label">Afterschool Programs</label>
            </a>  
            <span class="count badge" id="a-s-p-count"></span>
          </li>
        </ul>
        {% for key, value in checkbox_labels.iteritems() %}  
          {% if key == "after_school_program" %}
          <div class="collapse" id="a-s-p-collapse">
            <div class="card card-block">
            <ul>
              <li class="checkbox-li">
                <input type="checkbox" id="check-all-a-s-p" class="check-all" name="check-all-a-s-p" value="select-all" checked>
                <label for="check-all-a-s-p"> &nbsp; Deselect All </label>
              </li>
              <li class="checkbox-li">
                <input type="checkbox" name="a-s-p" class="check" value="Yes" checked> &nbsp; Yes
              </li>
            </ul>
            </div> <!-- close div card card-block -->
          </div> <!-- close collapseExample -->
          {% endif %}   
        {% endfor %}     
        </div>
        <!-- End After School Program Section -->

        <input type="button" class='btn btn-default' id="form-submit" type="submit" value="Submit" onclick="submitForm()"> 
    </div> <!-- close flexbox contents -->
    </div> <!-- close div class -->
    
  </form>    
  

    <div class="mobile-tie-breaker">  
      <div class="tie-breaker-mobile-flex">
        <div class="heading" id="mobile-tie-breaker-heading">
          <h4>Tie-breaker Hierarchies</h4>
        </div>

        <button class="tie-breaker-btn btn" id="elem-tie-btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" data-htmlindex="0">
          <span class="map-icon map-icon-school icon-legend"></span>&nbsp;Elementary Schools
          </button>&nbsp;
             <div class="tie-breaker-flex">      
          <div id="tie-breaker-info-elem" class="tie-breaker-info">
          </div>
        </div>

        <button class="tie-breaker-btn btn" id="middle-tie-btn" data-htmlindex="1">
          <span class="map-icon map-icon-school icon-legend"></span>&nbsp;Middle Schools
        </button>&nbsp;
        <div class="tie-breaker-flex">      
          <div id="tie-breaker-info-middle" class="tie-breaker-info">
          </div>
        </div>



        <button class="tie-breaker-btn btn" id="high-tie-btn" data-htmlindex="2">
          <span class="map-icon map-icon-school icon-legend"></span>&nbsp;High Schools
        </button>
           <div class="tie-breaker-flex">      
          <div id="tie-breaker-info-high" class="tie-breaker-info">
          </div>
        </div>
      </div> <!-- close tie-breaker-flex -->
        
     
    </div> <!-- mobile-tie-breaker div -->


  <div id="compare-schools-div">  
      <div class="heading" id="compare-schools">
        <h4>Compare Schools</h4>
      </div>

      <div class="flex-box-child">
        <button id="show-favorites-btn" class='btn btn-default'>Compare My Favorite Schools <img id="star-img" src="/static/img/star.png"></button>
      </div>
  </div> <!-- compare schools div -->
  </div><!-- /#sidebar-wrapper -->
<!-- End of SideBar -->

  <div id="page-content-wrapper" class="page-content">
    <div class="container-fluid" id="whole-page">
      <div class="row" id="header-row">
        <div id="header">
          <button id="mobile-show-filters" onclick="onShowFilters()" class="btn mobile-filter-btn" aria-hidden="true">Show Filters&nbsp;<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button> 
            <div id="header-flex">
              <div id="home-search-div">
                <div id="enter-address-intro">Welcome! Enter your home address
                </div>
                <div id="home-search"> 
                  <input id="pac-input" class="controls" type="text" placeholder="Enter address to learn about tie-breakers">
                </div>
             </div> <!-- close home-search-div -->
      
          </div> <!-- close header-flex -->
          


          <div class="desktop-tie-breaker">
            <div id="tie-breaker-title" class="tie-breaker-flex">
              Tie-breaker Hierarchies
            </div>
            <div class="tie-breaker-flex">
                <button class="tie-breaker-btn btn" id="elem-tie-btn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" data-htmlindex="0">
                  <span class="map-icon map-icon-school icon-legend"></span>&nbsp;Elementary Schools
                  </button>&nbsp;
                <button class="tie-breaker-btn btn" id="middle-tie-btn" data-htmlindex="1">
                  <span class="map-icon map-icon-school icon-legend"></span>&nbsp;Middle Schools
                </button>&nbsp;
                <button class="tie-breaker-btn btn" id="high-tie-btn" data-htmlindex="2">
                  <span class="map-icon map-icon-school icon-legend"></span>&nbsp;High Schools
                </button>
            </div> <!-- close tie-breaker-flex -->
          <div id="tie-breaker-info-div" class="tie-breaker-flex">      
              <div id="tie-breaker-info" class="tie-breaker-info">
              </div>
  
              </div>
          </div> <!-- close desktop tie-breaker -->


        </div> <!-- close header -->
      </div> <!-- close row -->
      <div class="row" id="map-row"> 
       
        <div class="col-xs-12" id="map"> 
        </div> <!-- close map -->
        <div class="col-xs-0" id="directions-panel">
          <div class="heading">
            <button id="return-btn" onclick="onReturn()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;Return</button>
          <h4>Directions</h4>
          </div>
        </div> <!-- close directions panel -->
      </div> <!-- close row -->
    </div> <!-- close container -->
  </div> <!-- close page-content-wrapper -->

  <!-- School Comparison Modal -->
  <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="printThis">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">My Favorite Schools</h4><br>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Rank</th>
                <th>School</th>
                <th>Have I booked a school tour?</th>
                <th>Notes</th>
                <th></th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="modal-body" >
          <table id="favorites-table">
            <tbody id="favorites-table-body">
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <input type="textarea" class="comments" placeholder="General notes">
                </td> 
              </tr>
              <tr>
                <td colspan="6" id="contact-epc">
                  Questions? <br>
                  Contact the Educational Placement Center<br>
                  555 Franklin Street, Room 100<br>
                  San Francisco, CA 94102<br>
                  Phone: (415) 241-6085<br>
                  Hours: 8:00 am to 4:30 pm, Monday
                  to Friday
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="print-btn" class="btn btn-default">Print</button>
        </div>
      </div>
    </div>
  </div>


</div> <!-- close wrapper -->


<script src="/static/js/map.js"></script>
{% endblock %}